.wrap {
  background: #eee;
  max-width: 940px;
  margin: 0 1rem;
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    display: flex;
    padding: 1rem;
    img {
      width: 30%;
      height: 100%;
      padding: 0.5rem;
      border: 1px solid #ddd;
      margin-right: 1rem;
      background: #fff;
    }

      a {
        color: #666;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        
      }
    }
  }
}

h1 {
  font-family: lobster;
  color: #666;
}


ul li:nth-child(odd) {
  background: #bada55;
}

.fade.ng-enter {
  animation: 2s appear;
}
.fade.ng-leave {
  animation: 0.5s disappear;
}

@keyframes appear {
  from {
      opacity: 0;
      transform: translateX(-200px);
  }
  to {
      opacity: 1;
  }
}
@keyframes disappear {
  0% {
      opacity: 1;
  }
  50% {
      font-size: 0.75rem;
  }
  75% {
      color: green;
  }
  100% {
      opacity: 0;
      transform: translateX(-100%);
  }
}